.u-section-1 .u-sheet-1 {
  min-height: 526px;
}

.u-section-1 .u-text-1 {
  width: 743px;
  margin: 37px auto 0;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 450px;
  height: auto;
  margin: -18px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 623px;
  height: 354px;
  margin: 18px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 623px;
  height: 354px;
  margin: 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-1 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}

.u-section-1 .u-line-1 {
  width: 758px;
  height: 3px;
  margin: 0 auto 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    margin-top: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 44px;
    margin-bottom: -29px;
    margin-left: -167px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    width: 601px;
  }

  .u-section-1 .u-line-1 {
    width: 660px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 366px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 306px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 295px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 248px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 188px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 182px;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 436px;
}

.u-section-2 .u-text-1 {
  width: 743px;
  margin: 10px auto 0;
}

.u-section-2 .u-image-1 {
  width: 624px;
  height: 304px;
  margin: 23px auto 60px;
}

.u-section-2 .u-line-1 {
  width: 758px;
  height: 3px;
  position: absolute;
  top: 423px;
  left: 184px;
  transform-origin: left center 0px;
  margin-right: 199px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 570px;
    height: 281px;
    margin-top: 15px;
  }

  .u-section-2 .u-line-1 {
    margin-right: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 266px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 167px;
    margin-top: 27px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 549px;
}

.u-section-3 .u-text-1 {
  width: 743px;
  margin: 9px auto 0;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 450px;
  margin: 12px auto 39px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 623px;
  height: 354px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 638px;
  height: 390px;
  object-position: 50% 66.57%;
  margin: 0 auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-3 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}

.u-section-3 .u-line-1 {
  width: 758px;
  height: 3px;
  position: absolute;
  top: 534px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-slider-1 {
    height: auto;
    margin-top: 18px;
    margin-bottom: 12px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 60px;
    margin-right: 241px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 97px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 378px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 307px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 520px;
    height: 318px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 256px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 193px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 196px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 553px;
}

.u-section-4 .u-text-1 {
  margin: 1px auto 0;
}

.u-section-4 .u-image-1 {
  width: 630px;
  height: 428px;
  object-position: 50% 0%;
  margin: 30px auto 55px;
}

.u-section-4 .u-line-1 {
  width: 758px;
  height: 3px;
  position: absolute;
  top: 540px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 366px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 230px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 544px;
}

.u-section-5 .u-text-1 {
  width: 743px;
  margin: 18px auto 0;
}

.u-section-5 .u-slider-1 {
  width: 758px;
  min-height: 450px;
  margin: 18px auto 19px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 623px;
  height: 354px;
  object-position: 50% 56.18%;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 623px;
  height: 354px;
  object-position: 50% 71.19%;
  margin: 0 auto;
}

.u-section-5 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-5 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}

.u-section-5 .u-line-1 {
  width: 758px;
  height: 3px;
  position: absolute;
  transform-origin: left center 0px;
  top: 533px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    width: 601px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 366px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 520px;
    height: 306px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 520px;
    height: 295px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 248px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 188px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 182px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }
}