.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  line-height: 32px;
  margin: 72px 0 0 303px;
}

.u-section-1 .u-image-1 {
  width: 277px;
  height: 678px;
  margin: -680px auto 50px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 700px;
    height: 39px;
    margin-left: 103px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 50px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1657px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 190px;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 156px;
    margin-top: -1622px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}
